.cards {
  padding: 5%;
  padding-bottom: 5%;
  margin-bottom: 2%;

  margin: 5%;
  display: grid;
  justify-content: space-evenly;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  column-gap: 3%;
  grid-row-gap: 10%;
  filter: none;
}
.grid-item {
  border: 1px solid white;
  border-radius: 10%;
  box-shadow: 10px 10px 10px 10px black;
  width: 100%;
  /* opacity: 5%; */
}
