.App {
  text-align: center;
}

.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: rgb(58, 128, 49);
  text-decoration: none;
}

.nav-links {
  width: 45%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  color: white;
  text-decoration: none;
}

.nav-links li {
  color: white;
  text-decoration: none;
}

.nav h3 {
  color: white;
  text-decoration: none;
}
.signup-form {
  max-width: 500px;
  margin: 2rem auto;

  padding: 2rem;
}

.signup-inputs {
  display: block;
  padding: 0.5rem 0;
}
